
body {

  margin:0;
}

table {
  
  border-collapse: collapse;
  font-family: "Verdana";
  text-align: center;
  margin-right: auto;
  margin-left:auto;
  width: 100%;
  
}



#home {

float:right;
padding-right:20%;


}

#away {

float:left;
padding-left:20%;

}


tr:hover {background-color: #B0B0B0}

img {

  height: auto;
  width:100%;
  min-width: 30%;
  
}


